@{
    ViewBag.Title = "About";
    ViewBag.Header = "About";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/founder.jpg" style="width: 100%"/>
            <p class="bach-quote">Our founder</p>
        </div>
        <div class="col-sm-8">
            <h3>Mission</h3>
            <p>
                We aim to deliver low quality instruments for high prices to ensure the greatest customer satisfaction.
            </p>
            <h3>History</h3>
            <p>
                We started off as a small, family-owned company back in 2058. We have since grown to employ more than 16.2
                human employees and 4 small elephants.
            </p>
        </div>
    </div>
    
</div>