@{
    ViewBag.Title = "Contact";
    ViewBag.Header = "Contact Us";
}

<div class="jumbotron">
    <address>
        <strong>Address</strong><br />
        The Sunniest Rock<br />
        Big Non-Ocean<br />
        Planet e, TRAPPIST-1<br />
        <br />
        <strong>Phone</strong> <br />
        +163-465-824-0000
    </address>

    <address>
        <strong>Support</strong>   <br />
        Not.Actually.Support@BO.com<br />
        <br />
        <strong>Fishing Division</strong> <br />
        Actually.Support@BO.com<br />
    </address>
</div>

