@{
    ViewBag.Title = "Blow Out!";
    ViewBag.Header = "Welcome to Blow Out!";
}


<div class="jumbotron">
    <img src="~/Content/images/Brass-Instruments.jpg" class="full-img"/>
</div>

<div class="jumbotron">
    <div class="bach-quote">
    "It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself”.
    </div>
    <br />
    <div class="quote-author"> - Johann Sebastian Bach</div>
</div>

<div class="jumbotron">
    <p style="text-align:center">We allow rentals of new and used instruments.</p>
</div>

