
@{
    ViewBag.Title = "About";
}

<h2>About Us</h2>

<div>
    
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-6">
                <img src="~/Content/images/AboutUs.jpg" class="img-fluid" />
            </div>
            <div class="col-sm-6">
                <p>
                    At Bright Entertainment we are a family owned and operated company. We strive to keep our Hawaiian heritage alive by providing
                    traditional Hawaiian food from the Islands. Our family has a deep love for Hawaiian food and our goal is to keep the culture alive in our children.
                </p>
                <p>
                    Our belief is that our customers’ needs are of the utmost importance. As a result, a high percentage of our business is from repeat customers and referrals.
                    We welcome the opportunity to earn your trust and deliver you the best food and service on the mainland.
                </p>
            </div>
        </div>
    </div>
</div>
