
@{
    ViewBag.Title = "Index";
}

<h2>Catering</h2>
<hr />
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-6"><img src="~/Content/images/Food.jpg" class="img-fluid" /></div>
        <div class="col-sm-6">Packages are put together to help you meet your Luau needs. Here are just a few of our most popular packages. If these packages do not meet what you are looking for, please refer contact us at (555) 555-1212.</div>
    </div>
    <hr />
    <h4>Packages</h4>
    <div class="row content">
        <div class="col-sm-4">
            <p>Package 1 (The most popular Luau package) costs $15.95 per person:</p>
            <ul>
                <li>Kalua Pig</li>
                <li>Teriyaki Chicken</li>
                <li>Rice</li>
                <li>Mac Salad</li>
                <li>Fresh Fruit</li>
                <li>Dinner Rolls</li>
                <li>White Coconut Cake</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <p>Package 2 costs $14.50 per person:</p>
            <ul>
                <li>Kalua Pig</li>
                <li>Teriyaki Chicken</li>
                <li>Rice</li>
                <li>Mac Salad</li>
                <li>Fresh Fruit</li>
                <li>Dinner Rolls</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <p>Package 3 costs $12.95 per person:</p>
            <ul>
                <li>Kalua Pig</li>
                <li>Teriyaki Chicken</li>
                <li>Rice</li>
                <li>Tossed Salad</li>
                <li>Pineapple</li>
                <li>Dinner Rolls</li>
            </ul>
        </div>
    </div>
    We can also provide Hawaiian shaved ice for an extra price!
    <hr />
</div>
