html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #777788;
}

#finalbanner {
    background-color: #222222;
    color: #2da9a9;
    padding: 12px;
    font-size: 1.2em;
    text-align: center;
}

main {
    margin: 12px;
}
