
@{
    ViewBag.Title = "Index";
}

<h2>Entertainment</h2>

<hr />
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-6"><img src="~/Content/images/Dancers.png" class="img-fluid" /></div>
        <div class="col-sm-6">
            <p>With each package we include decorating to any event. This includes up to 10 table cloths and center pieces, fresh mini palm leaves for each table. Decor for surrounding area can (for extra charge) included Silk 6ft Palm and Banana Trees, Tikis, torches, and a variety of tropical silk flowers and foliage.</p>
            <p>Packages are put together to help you meet your Luau needs. Here are just a few of our most popular packages. If these packages do not meet what you are looking for, please refer contact us at (555) 555-1212.</p>
        </div>
    </div>
    <hr />
    <h4>Packages</h4>
    <div class="row content">
        <div class="col-sm-4">
            <p>Package 1 (The most popular Luau package) costs $350:</p>
            <ul>
                <li>45 min show</li>
                <li>2 dances</li>
                <li>Decorations</li>
                <li>Sound system with microphone</li>
                <li>Recorded Hawaiian music</li>
                <li>Brief description of the meanings of the of Hulas both modern ( 'Awana ) and ancient ( Kahiko )</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <p>Package 2 costs $500:</p>
            <ul>
                <li>Includes all of package 1</li>
                <li>Fire Knife (show must be outdoors)</li>
            </ul>
        </div>
    </div>
</div>