@{
    ViewBag.Title = "Trivia Crack";
}

<div class="jumbotron" style="text-align:center">
    <h1>Trivia Crack</h1>
    
    <p><a href="@Url.Action("Play", "Home")" class="btn btn-primary btn-lg">Play</a></p>
</div>
